.main-header{
    margin-bottom: 5px;
}
h1{
    text-align:center;
    text-decoration: solid black;
    text-decoration-line: underline;
    margin-bottom: 0%;
}
.homepage-content{
    text-align:center;
    margin:auto;
    border:solid black;
    border-style:groove;
    padding:0px;
    width:300px;
}
.welcome-paragraph{
    margin:0%;
    color:lightgray
}
#homepage-background{
    background-image:url(/images/homepagebackground.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.content{
    text-align:center;
    margin:auto;
    border:red;
    border-style:groove;
    padding:0px;
    width:50%;
}
.paragraph{
    margin:0%;
}
.link-container {
    text-align:center;
    color:lightgray
}
.image{
    display:grid;
    place-items:center;
    margin:auto;
}
.paragraph-1{
    margin:0%;
}
.a{
    color:yellow
}